.error {
  border: red 1px solid;
}

.errorMessage {
  color: red;
}

.activeFilter {
  background-color: lightgreen;
}

.todolist {
  padding: 5px;
  display: flex;
  flex-direction: column;

  h6 {
    align-self: center;
  }

  &__list {
  }

  &__item {
    display: flex;
    align-items: center;
  }

}