.error {
  border: red 1px solid;
}

.errorMessage {
  color: red;
}


.todolist {
  padding: 5px;
  display: flex;
  flex-direction: column;

  h6 {
    align-self: center;
  }
&__list{
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-right: none;
  border-left: none;
  margin: 5px 0;
}
  &__item {
    display: flex;
    align-items: center;
    h6{
      flex-grow: 1
    }
  }
  &__remove{
    top: 5px;
    right: 5px;
  }

}
